.become-a-tutor-container {
    .tutor-signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 805px;
        overflow: hidden;
        position: relative;

        .blob-container {
            background-color: var(--site-color2);
            opacity: 0.5;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;

            .blob {
                fill: var(--site-color);
                width: 50vmax;
                background: radial-gradient(circle, var(--site-color), var(--site-color3));
                border: 2px solid var(--site-color);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
            }
        }

        .row {
            padding: 0px 50px 0px 50px;

            .header-title {
                font-weight: bold;
            }


            .text-content {
                .header-title {
                    font-size: 48px;
                    margin: 0 0 40px;
                }
            }
    
            .from-content {
                display: flex;
                justify-content: center;
                align-self: center;

                .container {
                    background-color: var(--site-color3);
                    padding: 0px 0px 0px 0px;
                    width: 80%;
                    border: 1px solid #ccc;
                }

                img {
                    margin-top: 10px;
                }
                    
                .form-group {
                    padding-top: 10px;
                }
            
                .btn {
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                    width: 165px;
                    height: 40px;
                    border: none;
            
                    &.submit {
                        background-color: var(--site-color);
                        margin: 20px;
            
                        &:hover {
                            background-color: var(--site-color2);
                        }
                    }
                }
        
                input:focus {
                    border-color: var(--site-color);
                    outline: none;
                    box-shadow: 0 0 5px var(--site-color);
                }

                .header-title {
                    font-size: 35px;
                    margin: 0 0 75px;
                }

                .header-subtitle {
                    margin: 50px 0 0;
                }

                @media (max-width: 991px) {
                    display: block;
                    height: 350px;
                    width: 500px;
                    transform: translateY(-80%);

                    .container {
                        width: 100%;
                    }
    
                }
                
                @media (max-width: 575px) {    
                    width: 420px;

                    .form-group {
                        padding: 10px 90px 0px 90px;
                    }

                    .header-title {
                        font-size: 30px;
                        margin: 0 0 35px;
                    }

                    .header-subtitle {
                        margin: 35px 0 0;
                    }
                }

                @media (max-width: 400px) {    
                    width: 360px;

                    .header-title {
                        font-size: 25px;
                        margin: 0 0 20px;
                    }

                    .header-subtitle {
                        margin: 20px 0 0;
                    }
                }
            }
        }

        @media (max-width: 991px) {
            height: 1000px;
        }

    }

    .how-to-become-a-tutor-container {
        text-align: center;
        padding: 40px 20px;
        background: radial-gradient(closest-side, #4c93df, var(--bg-primary));
    
        .slogan {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            color: #333;
            margin-bottom: 10px;
        }
    
        h2 {
            font-size: 32px;
            margin-bottom: 20px;
        }
    
        .steps {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .step {
                display: flex;
                align-items: center;
                max-width: 750px;
                width: 100%;
    
                img {
                    width: 50%;
                    height: auto;
                }
    
                .step-text {
                    max-width: 70%;
                    text-align: left;
                    color: #333;
    
                    h3 {
                        margin-top: 10px;
                        font-size: 30px;
                    }
    
                    h6 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 18px;
                    }
                }

                // Adjust layout for smaller screens
                @media (max-width: 768px) {
                    flex-direction: column;
                    text-align: center;

                    img {
                        width: 80%; // Reduce image size for smaller screens
                        margin-bottom: 15px; // Add spacing between image and text
                    }

                    .step-text {
                        max-width: 100%;
                        text-align: center;
                    }
                }

                @media (max-width: 480px) {
                    img {
                        width: 100%; // Full width for very small screens
                    }

                    .step-text {
                        padding: 0 10px; // Add padding for better readability
                    }
                }
            }
        }
    }

    .tutor-community-container {
        padding: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 1500px;
        margin: 0px auto 30px auto;

        h3, h2 {
            font-size: 2.2em;
            color: #222;
            text-align: center;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 1.75em;
        }

        p {
            font-size: 1.1em;
            color: #555;
            text-align: center;
            max-width: 800px;
            margin: 0 auto 30px;
        }

        .tutor-benefits {
            display: flex;
            flex: 1;
            justify-content: center;

            ul {
                text-align: left;
                list-style: none;
                padding: 0;
    
                li {
                    font-size: 1.1em;
                    color: #444;
                    margin-bottom: 12px;
    
                    &:not(:last-child)::before {
                        content: "✔";
                        font-weight: bold;
                        margin-right: 10px;
                    }
    
                    &:last-child {
                        padding-left: 0px;

                        @media (min-width: 768px) {
                            padding-left: 33px;
                        }
                    }
                }
            }
        }

        .testimonials {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 20px;

            .testimonial {
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                text-align: left;
                transition: transform 0.3s;

                &:hover {
                    transform: translateY(-5px);
                }

                .testimonial-image {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    margin-right: 10px;
                    vertical-align: middle;
                }

                p {
                    margin-top: 10px;
                }
        
                strong {
                    display: block;
                    margin-top: 10px;
                    color: #222;
                    font-weight: 600;
                }
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
    }

    .common-questions-container {
        padding: 50px;
        border-radius: 10px;
        flex-direction: column;
        gap: 40px;
        max-width: 1500px;
        margin: 0px auto 30px auto;

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .faq {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .question {
                background-color: #fff;
                padding: 15px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                h3 {
                    margin-top: 0;
                    color: var(--site-color);
                }
                
                p {
                    margin: 10px 0 0;
                    color: #555;
                }
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
    }

    // .tutor-privacy-container {
    //     padding: 30px;
    //     border-radius: 10px;
    //     margin-top: 30px;
    //     max-width: 1500px;
    //     margin: 0px auto 30px auto;

    //     h2 {
    //         text-align: center;
    //         margin-bottom: 25px;
    //         color: #333;
    //         font-size: 28px;
    //         font-weight: bold;
    //     }

    //     .privacy-content {
    //         line-height: 1.8;
    //         color: #555;
    //         font-size: 16px;

    //         h3 {
    //             margin-top: 25px;
    //             color: #007bff;
    //             font-size: 22px;
    //             font-weight: bold;
    //         }
            
    //         p {
    //             margin: 15px 0;
    //         }
            
    //         a {
    //             color: #007bff;
    //             text-decoration: none;

    //             &:hover {
    //                 text-decoration: underline;
    //             }
    //         }
    //     }
    // }
}