<div class="account-page">
    <div class="row account-container rounded">
        <div class="account-top">
            <div class="account-top-title">
                Account
                <a class="text-decoration-none" href=""><i class="fa fa-x icon"></i></a>
            </div>

            <hr>

            <div class="account-top-middle">
                <div class="nameBar">
                    <p class="m-3 users-role">{{ role }}</p>
                    <p class="m-3 user-name">{{ userName }}</p>
                    <!-- <img *ngIf="profileImage" [src]="profileImage" alt="Profile Picture" class="profile-img"> -->
                    <p class="m-3 user-pic">{{ userName.split(" ")[0].charAt(0).toUpperCase() }}</p>
                    <button class="editPhoto" type="button" (click)="editPhoto()"><i class="fa fa-pencil icon"></i></button>
                    <app-profile-image-uploader *ngIf="photoEditability" (closeModal)="editPhoto()"></app-profile-image-uploader>
                </div>

                <button *ngIf="!formEditability" type="button" class="btn edit rounded" (click)="editForm()">Edit Account</button>
                <button *ngIf="formEditability" type="submit" form="generalForm, addInfoForm" class="btn submit rounded" (click)="submitNewUserInfo()">Submit</button>
            </div>
            

        </div>

        <div class="account-content">
            <div class="account-content-title">General</div>
            <hr>
            <form class="generalForm" id="generalForm" [formGroup]="generalForm">
                <div class="row">
                    <div class="col-sm-6 mb-3 form-group">
                        <label for="firstName" class="form-label">First Name</label>
                        <input class="form-control" id="firstName" name="firstName" type="text" formControlName="firstName">
                    </div>
                    <div class="col-sm-6 mb-3 form-group">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input  class="form-control" id="lastName" name="lastName" type="text" formControlName="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mb-3 form-group">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control" id="email" name="email" type="email" formControlName="email">
                    </div>
                    <div class="col-sm mb-3 form-group">
                        <label for="phoneNumber" class="form-label">Phone</label>
                        <input class="form-control" id="phoneNumber" name="phoneNumber" type="tel" formControlName="phoneNumber">
                    </div>
                    <div class="col-sm mb-3 form-group">
                        <label for="dateOfBirth" class="form-label">Date of Birth</label>
                        <input class="form-control" id="dateOfBirth" name="dateOfBirth" type="date" formControlName="dateOfBirth">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mb-3 form-group">
                        <label for="location" class="form-label">Address</label>
                        <input class="form-control" id="location" name="location" type="text" formControlName="location">
                        <ul id="autocomplete-results" class="list-group">
                          <li *ngFor="let result of autocompleteResults" class="list-group-item" (click)="selectAddress(result)">
                            {{ result.display_name }}
                          </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row addInfo-container rounded">
        <div class="addInfo-content">
            <div class="addInfo-content-title">Additional Information</div>
            <hr>
            <form class="addInfoForm" id="addInfoForm" [formGroup]="addInfoForm">
                <div class="row">
                    <div class="col-sm-10 mb-3 form-group">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control" id="bio" name="bio" type="text" formControlName="bio"></textarea>
                        <div class="text-muted">
                            <span [ngStyle]="{ 'color': bioWordCount > maxWords ? 'red' : 'inherit' }">
                                {{ bioWordCount }}
                            </span>
                            / {{ maxWords }} words
                        </div>
                    </div>
                    <div class="col-sm mb-3 form-group">
                        <label for="pronouns" class="form-label">Pronouns</label>
                        <select class="form-select" id="pronouns" name="pronouns" formControlName="pronouns" (change)="toggleCustomPronouns($event)">
                            <option value="Select Pronouns">Select Pronouns</option>
                            <option value="he/him">He/Him</option>
                            <option value="she/her">She/Her</option>
                            <option value="they/them">They/Them</option>
                            <option value="custom">Custom</option>
                        </select>
                        <input *ngIf="showCustomPronounsInput" class="form-control mt-2" id="customPronouns" name="customPronouns" type="text" placeholder="Pronouns" formControlName="customPronouns">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>