:root {
    --bg-primary: #F7EDE2;
    --site-color: #F28482;
    --site-color2: #F5CAC3;
    --site-color3: #F5F5F5;
}

body {
    background-color: var(--bg-primary);
}

.toast-container {
    margin-top: 25px;
}