<div class="reset-password-container container text-center rounded">
    <div class="logo-text">
        <img src="../assets/TechTutorHubLogoImage.png" width="110" height="120" alt="Tech Tutor Hub">
    </div>

    <div class="description">Please enter your new password below.</div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form (ngSubmit)="resetPasswordSubmit()" [formGroup]="resetPasswordForm">
                <div class="form-group">
                    <label class="d-flex justify-content-left" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="{{ passwordVisible ? 'text' : 'password' }}"
                        placeholder="Password" formControlName="password"/>
                    <button class="togglePasswordVisibility" type="button" (click)="togglePasswordVisibility()">
                        <i class="fa {{ showPasswordIcon }}"></i>
                    </button>
                </div>
                <button type="submit" class="btn submit rounded">Sign In</button>
            </form>
            <div class="changed">
                <hr/>
                <span>
                    Already have an account?
                    <a class="text-decoration-none" href="/sign-in">Sign In</a>
                </span>
            </div>
        </div>
    </div>
</div>
