.container {
    max-width: 100%;
    height: 800px;
    padding: 0px 130px;
    margin-bottom: 18px;
}

.navbar-toggler {
    right: 165px;
    margin-top: 3px;
    position: absolute;
    font-size: 25px;
}

.settings-page {
    display: flex;
    flex-wrap: wrap;
    height: 750px;
}

.settings-sidebar {
    display: inline-block;
    padding: 8px 28px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: var(--site-color3);
}

.logo {
    padding: 0px 77px;
}

.nameBar {
    margin-top: -115px;
    margin-bottom: 25px;
}

.users-profession {
    font-size: 15px;  
    position: relative;
    top: 165px;
    left: 65px;
}

.user-name {  
    font-size: 20px;  
    position: relative;
    top: 95px;
    left: 65px;
}

.user-pic {
    font-size: 45px;
    position: relative;
    top: 20px;
    right: 14px;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    color: var(--site-color3);
    background-color: var(--site-color);
    border: 1px solid #ccc;
}

hr {
    border-width: 2px; 
    width: 230px;
    margin-left: 0; 
    margin-right: auto;
}

.settings-sidebar-title {
    font-size: 20px;
    font-weight: 500;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.nav-item {
    width: 245px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item a {
    display: flex;
    align-items: center;
    color: black;
}

.icon {
    font-size: 20px;
    width: 16px;
    height: 16px;
    margin-right: 25px;
}

.nav-item:hover .icon-arrow {
    transform: translateX(25px);
    transition: transform 0.3s ease;
}

.nav-item:not(:hover) .icon-arrow {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.settings-content {
    display: inline-block;
    width: calc(100% - 315px);
    flex: 1;
    margin-left: 30px;
    padding: 0px 12px;
    transition: margin-left 0.2s ease-in-out;
    // background-color: var(--site-color3);
}

@media (max-width: 991px) {
    .container {
        height: 1050px;
    }

    .settings-sidebar {
        height: 50px;
        width: 100%;
    }

    .custom-navbar-collapse {
        margin-top: 10px;
        border: 1px solid #ccc;
        background-color: var(--site-color3);
    }

    .settings-content {
        margin-top: 30px;
        margin-left: 0;
        height: 688px;
        margin-top: 30px;
    }

    .menu-open { margin-top: 286px; }
    .tutor { margin-top: 352px; }
}

@media (max-width: 800px) {
    .container {
        height: 1100px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0px 35px;
    }

    .navbar-toggler {
        right: 70px;
    }
}

