.reset-password-container {
    background-color: var(--site-color3);
    width: 530px; 
    height: 530px;
    margin-top: 100px;
    margin-bottom: 129px;
    border: 1px solid #ccc;
}

.logo-text {
    padding: 0px 150px 0px 150px;
}

img {
    margin-top: 10px;
}

.description {
    font-weight: 500;
    font-size: 16px;
    margin: 15px 75px 30px;
    text-align: center;
}

.form-group {
    padding-top: 10px;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 165px;
    height: 40px;
    border: none;
}

.submit {
    background-color: var(--site-color);
    margin: 20px;
}

hr {
    overflow: visible;
    opacity: 100%;
    font-weight: bold;
}

hr:after {
    background: whitesmoke;
    content: 'OR';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.account {
    padding: 0px 30px 0px 30px;
}

.account a {
    color: var(--site-color);
    font-weight: bold;
}

input:focus {
    border-color: var(--site-color);
    outline: none;
    box-shadow: 0 0 5px var(--site-color);
}

.togglePasswordVisibility {
    border: none;
    background-color: transparent;
    position: absolute;
    margin: -31px 0px 0px 85px;
}

.submit:hover {
    background-color: var(--site-color2);
    color: var(--site-color);
}

.account a:hover {
    color: var(--site-color2);
}

@media (max-width: 575px) {
    .reset-password-container {
        width: 445px; 
    }

    .logo-text {
        padding: 0px 120px 0px 120px;
    }
    
    .form-group {
        padding: 10px 90px 0px 90px;
    }
}