<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3" [ngClass]="{'scrolled': isScrolled, 'fixed-top': isScrolled}">
  <div class="d-flex align-items-center">
      <nav class="m-2">
          <a class="navbar-brand" href="">
              <img src="../assets/TechTutorHubLogoText.png" width="200" height="30" alt="Tech Tutor Hub">
          </a>
          <span class="m-1 text-dark">|</span>
          <a class="m-3 text-dark text-decoration-none" href="/find-your-tutor">Find Your Tutor</a>
          <a class="m-3 text-dark text-decoration-none" href="/become-a-tutor">Become A Tutor</a>
          <a class="m-3 text-dark text-decoration-none" href="/help">Help</a>
      </nav>
  </div>

  <nav class="m-2">
      <a class="m-3 text-dark text-decoration-none" href="/sign-in">Sign In</a>
      <a class="m-3 text-dark text-decoration-none" href="/sign-up">Sign Up</a>    
  </nav>
</header>

<router-outlet></router-outlet>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2023 Tech Tutor Hub</p>

      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <img src="../assets/TechTutorHubLogoImage.png" width="50" height="60" alt="Tech Tutor Hub">
      </a>

      <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/find-your-tutor" class="nav-link px-2 text-muted">Find Your Tutor</a></li>
          <li class="nav-item"><a href="/become-a-tutor" class="nav-link px-2 text-muted">Become A Tutor</a></li>
          <li class="nav-item"><a href="/help" class="nav-link px-2 text-muted">Help</a></li>
      </ul>
  </footer>
</div>