header {
    font-size: 18px;
    font-weight: 600;
    background-color: var(--bg-primary);
    transition: all 0.3s ease-in-out;
}

// .scrolled {
//     background-color: whitesmoke;
//     border-bottom-left-radius: 15px;
//     border-bottom-right-radius: 15px;
//     top: -80px;
//     transform: translateY(100%);
// }