.page-not-found-container {
    font-weight: 500;    
    font-size: 18px;
    flex-direction: column;
    min-height: 79vh;
}

a {
    color: white;
    width: 165px;
    background-color: var(--site-color);
    margin-bottom: 10px;
    padding: 6px;
}

a:hover {
    background-color: var(--site-color2);
    color: var(--site-color);
}

