<div class="forgot-password-container container text-center rounded">
    <div class="logo-text">
        <img src="../assets/TechTutorHubLogoImage.png" width="110" height="120" alt="Tech Tutor Hub">
    </div>

    <div class="description">Provide your account's email address and a reset password email will be sent to your inbox.</div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form (ngSubmit)="forgotPasswordSubmit()" [formGroup]="forgotPasswordForm">
                <div class="form-group">
                    <label class="d-flex justify-content-left" for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" formControlName="email"/>
                </div>
                <button type="submit" class="btn submit rounded">Sign In</button>
            </form>
            <div class="account">
                <hr/>
                <span>
                    Changed your mind? 
                    <a class="text-decoration-none" href="/sign-in">Head Back Here</a>
                </span>
            </div>
        </div>
    </div>
</div>
