.notifications-container {
    padding: 6px 28px;
    border: 1px solid #ccc;
    background-color: var(--site-color3);

    .notifications-top {
        margin-bottom: 15px;

        .title {
            font-size: 20px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                margin: 7px 5px 0 0;
                font-size: 20px;
                width: 16px;
                height: 16px;
                color: black;
            }
            
            .icon:hover {
                color: var(--site-color);
            }
        }
        
        hr {
            border-width: 2px;
            margin-top: 10px;
        }
    }
}