:root {
    --bg-primary: #F0F4F8;
    --site-color: #007BFF;
    --site-color2: #6C757D;
    --site-color3: #F8F9FA;
}

body {
    background-color: var(--bg-primary);
    overflow-x: hidden;
}

.toast-container {
    margin-top: 25px;
}