<div class="sign-in-container container text-center rounded">
    <div class="logo-text">
        <img src="../assets/TechTutorHubLogoImage.png" width="110" height="120" alt="Tech Tutor Hub">
        <h3>Welcome Back! Please Sign In</h3>
    </div>

    <p-toast position="top-center"></p-toast>

    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form (ngSubmit)="signInSubmit()" [formGroup]="signInForm">
                <div class="form-group">
                    <label class="d-flex justify-content-left" for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="d-flex justify-content-left" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="{{ passwordVisible ? 'text' : 'password' }}"
                        placeholder="Password" formControlName="password"/>
                    <button class="togglePasswordVisibility" type="button" (click)="togglePasswordVisibility()">
                        <i class="fa {{ showPasswordIcon }}"></i>
                    </button>
                    <div class="forgotPasswordContainer">
                        <a class="text-decoration-none" href="/forgot-password">Forgot Password?</a>
                    </div>
                </div>
                <button type="submit" class="btn submit rounded">Sign In</button>
            </form>
            <div class="external-login">
                <hr/>
                <button class="btn google text-center rounded"><i class="fa fa-brands fa-google"></i></button>
                <button class="btn facebook text-center rounded"><i class="fa fa-brands fa-facebook"></i></button>
            </div>
            <div class="account">
                <span>
                    Don't have an account?
                    <a class="text-decoration-none" href="/sign-up">Sign Up</a>
                </span>
            </div>
        </div>
    </div>
</div>